{% extends 'base.html' %}

{% block content %}
{% load static %}

<body class="body-bg">

    <div id="regis">
        <h3> Registrasi </h3>
    </div>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-3" style="width: 400px; margin-left: 30px; text-align: center;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <form action="/registrasi" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nama Lengkap" name="nama">
            <label for="floatingInput">Nama Lengkap</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Konfirmasi Password" name="konfirpass">
            <label for="floatingPassword">Konfirmasi Password</label>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <button id="regis-btn" class="btn" type="submit">Registrasi</button>
        </div>

        <div class="d-grid gap-2 col-7 mx-auto mb-3">
            <p>Already a member? 
                <a href="/login">Login</a>
            </p>
        </div>
    </form>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

{% endblock %}